name: pr-webhooks

on:
  push:
    paths:
      - "src/**"
  pull_request:
    branches:
      - master
      - "releases/**"

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5.0.0
    - name: list files in src
      run: ls -la ./src
